/* Reset global */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}
#heading {
  background-color: rgba(112, 147, 219);
  font-family: sans-serif;
  padding: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
}
.header-one {
  padding-left: 10%;
}
.header-two {
  padding-right: 75%;
  padding-top: 5px;
}
.header-two a {
  font-size: 16px;
}

#heading a {
  text-decoration: none;
  color:rgb(255, 255, 255);
}



