/* Reset global */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}
.heading {
  background-color: rgba(112, 147, 219);
  -webkit-border-radius: 10px 20px 25px 30px;
  padding: 1% 10% 0 10%;
  margin: 1% 10% 0 10%;
  font-family: sans-serif;
}

.bar-navigation ul{
  display: flex;
  justify-content: space-between;
}

.heading li {
  list-style: none;
}
.heading a {
  text-decoration: none;
  color: aliceblue;
}





